<ng-container *ngIf="(books$ | async) as books; else loading">

  <div class="row top-toolbar">
      <div class="col" *ngFor="let book of books; let i = index" [class.active]="i === currentIndex">

          <div class="container" *ngIf="book.volumeInfo as info">
              <mat-card>
                  <mat-card-header *ngIf="book.saleInfo as price" class="mb-3">
                      <mat-card-title class="text-uppercase text-truncate mb-2" title="{{ info.title }}">{{info.title}}</mat-card-title>
                      <mat-card-subtitle>
                          <span class="text-primary">ID</span>: <span><small>{{book.id}}</small></span>
                          <span class="float-end me-1 text-danger">{{ price.country }}</span>
                      </mat-card-subtitle>

                      <mat-card-subtitle class="mb-3">
                          <h5>
                              <span *ngIf="price.listPrice">
                                  <span class="badge text-bg-danger">{{ price.listPrice.amount }} <span class="text-tiny">{{ price.listPrice.currencyCode }}</span></span>
                                  <a href="{{ info.infoLink }}" target="_blank" class="ms-1">
                                      <img width="100" src="../../../assets/icons/google.png" alt="Google books" />
                                  </a>
                              </span>
                              <span *ngIf="!price.listPrice"><span class="text-tiny"><em>{{ price.saleability?.split('_')?.join(' ') }}</em></span></span>
                              <!-- ---------------------------------------------------------------- -->
                              <span *ngIf="price.isEbook" class="float-end">
                                  <a href="{{ book.accessInfo.webReaderLink }}" target="_blank">
                                      <img width="30" src="../../../assets/icons/eBook.png" alt="Exists on eBook format!" title="Exists on eBook format!" />
                                  </a>
                              </span>
                              <span *ngIf="!price.isEbook" class="float-end">
                                  <a href="{{ info.canonicalVolumeLink }}&gbpv=1" target="_blank">
                                      <img width="30" src="../../../assets/icons/pdf.png" alt="Exists on the 'pdf' format!" title="Exists on the 'pdf' format!" />
                                  </a>
                              </span>
                          </h5>
                      </mat-card-subtitle>
                  </mat-card-header>

                  <mat-card-content>
                      <!--
                      <mat-expansion-panel class="bg-light bg-gradient border-bottom mb-1" (opened)="panelOpenState" (closed)="!panelOpenState">
                          <mat-expansion-panel-header>
                              <mat-panel-title class="text-wrap-1">{{ panelOpenState ? '📖' : book.searchInfo.textSnippet }}</mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="mb-2"><em>{{ book.searchInfo.textSnippet }}</em></div>
                          <p>&nbsp;</p>
                          <div class="mb-2">{{ info.description }}</div>
                      </mat-expansion-panel>

                      TROUBLES!!!!!!!!!!
                      <mat-expansion-panel> ALL SORTS OF PROBLEMS with @angular/flex-layout! 👀 https://blog.angular.io/modern-css-in-angular-layouts-4a259dca9127

                      -->
                      <div [hidden]="!imageLoader" class="center"><mat-spinner></mat-spinner></div>
                      <div class="bg-light bg-gradient border-bottom p-3 text-center" *ngIf="book.volumeInfo.industryIdentifiers[0] as id">
                          <img [hidden]="imageLoader" class="p-0 box-shadow-strong" style="width: 150px; cursor: pointer;" src="{{ info.imageLinks.thumbnail }}"
                              (load)="this.imageLoader=false;" (click)="setCurrentBook(books, i);" alt="Book {{i+1}}" title="Book {{ id.type.slice(0, 4) }}: {{ id.identifier }}"
                      />
                      </div>
                  </mat-card-content>

                  <mat-card-footer class="mt-2 mb-3">
                      <div class="text-center"><strong><em>{{ info.categories}}</em></strong></div>
                      <div class="text-center"><small>{{ info.publishedDate | date: 'MMMM yyyy' }}</small></div>
                      <mat-card-subtitle class="text-center">
                          {{ info.publisher}} <span *ngIf="info.ratingsCount"> <small>(⭐ <em>{{ info.ratingsCount }}</em> )</small></span>
                      </mat-card-subtitle>
                  </mat-card-footer>

                  <mat-card-actions class="m-auto mb-1">
                      <button mat-stroked-button color="warn" class="text-uppercase ml-4" (click)="buyBook(book);" [disabled]="!book.saleInfo.listPrice">
                          <span class="big-icon ms-3">Buy product!</span>
                          <span class="material-icons small-icon" style="line-height: inherit;">shopping_basket</span>
                      </button>
                  </mat-card-actions>
              </mat-card>
          </div>

      </div>
  </div>

  <p>&nbsp;</p>
</ng-container>

<ng-template #loading>
  <div class="center">
      <mat-spinner *ngIf="books.length === 0"></mat-spinner>
  </div>
</ng-template>
