::ng-deep {
    .mat-mdc-card-header-text {
        width: 100%;
    }

    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
        box-shadow: none;
    }

    .mdc-text-field {
        border-bottom-left-radius: var(--mdc-shape-small, 4px) !important;
        border-bottom-right-radius: var(--mdc-shape-small, 4px) !important;
    }
}

.top-toolbar {
    padding-top: 4rem; // calc(64px + 40px);
    margin-top: 0;
}

.row {
    --bs-gutter-y: 1.5rem !important;
}

.form-group {
    position: fixed;
    z-index: 2;

    display: flex;
    width: 250px;
    height: 70px;
    top: 5px;
    left: 180px;
}

div.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-wrap-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.text-tiny {
    font-size: x-small;
}

.box-shadow-strong {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1),
        0 1px 3px 0 rgba(0, 0, 0, 1);
}

@media screen and (max-width: 500px) {

    // .title { font-size: 1vw; } toolbar.component
    .form-group {
        left: 65px;
        width: 140px;
    }
}

@media screen and (max-width: 600px) {
    .form-group {
        width: 100px;
    }
}

@media screen and (max-width: 700px) {
    .form-group {
        width: 200px;
    }
}
