<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side">
        <app-cart (closeEvent)="sidenav.close()"></app-cart>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-raised-button class="on-top mt-3 ms-2 position-fixed" [matBadge]="(numberOfCartItems$ | async)"
            (click)="sidenav.toggle()">
            {{ sidenav.opened ? 'Close' : 'Open' }}
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <app-catalog-page></app-catalog-page>
        <!-- <router-outlet></router-outlet> -->
    </mat-sidenav-content>
</mat-sidenav-container>
