<div class="border-bottom my-4">
    <div class="d-flex justify-content-between">
        <span><span class="text-danger"><b>{{ cartItem.qty }}</b></span> x {{ cartItem.item.volumeInfo.title }} &nbsp;</span>
        <span class="text-end text-danger">{{ cartItem.item.saleInfo.listPrice?.amount | currency }}</span>
    </div>
    <div class="text-end">
        <button mat-icon-button (click)="decreaseItemInCart()"><mat-icon>remove</mat-icon></button>
        <button mat-icon-button (click)="increaseItemInCart()"><mat-icon>add</mat-icon></button>
        <button mat-icon-button (click)="removeItemFromCart()"><mat-icon>delete</mat-icon></button>
    </div>
</div>
